<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MailRu Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6592d6">  <td>18/02/11 15:08:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailLoginTest.correctLogin()[pri:0, instance:com.epam.test.MailLoginTest@737996a0]">correctLogin</td> 
  <td>TestNG-test=mail Login Test-1@485814906</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>18/02/11 15:08:47</td>   <td>1405</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CloudLoginTest.correctLogin()[pri:0, instance:com.epam.test.CloudLoginTest@458ad742]">correctLogin</td> 
  <td>TestNG-test=cloud Login Test-1@1148019767</td>   <td></td> </tr>
<tr bgcolor="6592d6">  <td>18/02/11 15:08:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailLoginTest.incorrectLogin()[pri:0, instance:com.epam.test.MailLoginTest@737996a0]">incorrectLogin</td> 
  <td>TestNG-test=mail Login Test-2@1358037679</td>   <td></td> </tr>
<tr bgcolor="6592d6">  <td>18/02/11 15:08:46</td>   <td>1061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailLoginTest.stopDriver()[pri:0, instance:com.epam.test.MailLoginTest@737996a0]">&lt;&lt;stopDriver</td> 
<td>&nbsp;</td>  <td>TestNG-test=mail Login Test-2@1358037679</td>   <td></td> </tr>
<tr bgcolor="6592d6">  <td>18/02/11 15:08:46</td>   <td>1106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailLoginTest.stopDriver()[pri:0, instance:com.epam.test.MailLoginTest@737996a0]">&lt;&lt;stopDriver</td> 
<td>&nbsp;</td>  <td>TestNG-test=mail Login Test-2@1358037679</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>18/02/11 15:08:47</td>   <td>1484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CloudLoginTest.stopDriver()[pri:0, instance:com.epam.test.CloudLoginTest@458ad742]">&lt;&lt;stopDriver</td> 
<td>&nbsp;</td>  <td>TestNG-test=cloud Login Test-1@1148019767</td>   <td></td> </tr>
</table>
