<h2>Reporter output</h2><table><tr><td>15:08:45,524  INFO - Start app...
</td></tr>
<tr><td>15:08:45,822  INFO - Start suite MailRu Suite
</td></tr>
<tr><td>15:08:45,822  INFO - [TEST STARTED] mail Login Test
</td></tr>
<tr><td>15:08:45,857  INFO - user Account{email='totask@mail.ru', password='3452Dima1'} log in
</td></tr>
<tr><td>15:08:45,524  INFO - Start app...
</td></tr>
<tr><td>15:08:45,822  INFO - Start suite MailRu Suite
</td></tr>
<tr><td>15:08:45,822  INFO - [TEST STARTED] mail Login Test
</td></tr>
<tr><td>15:08:45,867  INFO - user Account{email='dF97M', password='ZjXuP'} log in
</td></tr>
<tr><td>15:08:46,824 ERROR - Test failed
</td></tr>
<tr><td>15:08:46,866 ERROR - Test failed
</td></tr>
<tr><td>15:08:45,524  INFO - Start app...
</td></tr>
<tr><td>15:08:45,822  INFO - Start suite MailRu Suite
</td></tr>
<tr><td>15:08:45,822  INFO - [TEST STARTED] mail Login Test
</td></tr>
<tr><td>15:08:47,253  INFO - [TEST FINISHED] mail Login Test
</td></tr>
<tr><td>15:08:47,254  INFO - [TEST STARTED] cloud Login Test
</td></tr>
<tr><td>15:08:47,256  INFO - user Account{email='totask@mail.ru', password='3452Dima1'} log in
</td></tr>
<tr><td>15:08:47,289 ERROR - Test failed
</td></tr>
</table>