<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MailRu Suite (0)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74b285">  <td>18/02/11 11:32:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CloudLoginTest.correctLogin()[pri:0, instance:com.epam.test.CloudLoginTest@2669b199]">correctLogin</td> 
  <td>main@1144648478</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>18/02/11 11:33:02</td>   <td>11698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CloudLoginTest.stopDriver()[pri:0, instance:com.epam.test.CloudLoginTest@2669b199]">&lt;&lt;stopDriver</td> 
<td>&nbsp;</td>  <td>main@1144648478</td>   <td></td> </tr>
</table>
