<h2>Reporter output</h2><table><tr><td>11:32:26,600  INFO - Start app...
</td></tr>
<tr><td>11:32:26,912  INFO - [TEST STARTED] mail Login Test
</td></tr>
<tr><td>11:32:26,945  INFO - user Account{email='totask@mail.ru', password='3452Dima1'} log in
</td></tr>
<tr><td>11:32:40,549  INFO - user Account{email='totask@mail.ru', password='3452Dima1'} logged in successful
</td></tr>
<tr><td>11:32:41,827  INFO - user Account{email='yFvxx', password='isBem'} log in
</td></tr>
<tr><td>11:32:50,203  INFO - Incorrect login or password
</td></tr>
<tr><td>11:32:50,884  INFO - [TEST FINISHED] mail Login Test
</td></tr>
<tr><td>11:32:50,886  INFO - [TEST STARTED] cloud Login Test
</td></tr>
<tr><td>11:32:50,887  INFO - user Account{email='totask@mail.ru', password='3452Dima1'} log in
</td></tr>
</table>