<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.epam.gomel.homework.GirlTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testGoodMood</td>
<td>mood </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSpendSomeMoreMoney</td>
<td>negative spendMoney </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testIHateThemAlllmood</td>
<td>mood </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSpendSomeMoney</td>
<td>spendMoney </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testNeutralmood</td>
<td>mood </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testExcellentMood</td>
<td>mood </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.epam.gomel.homework.BoyTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testBadMood</td>
<td>mood </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testGoodMood</td>
<td>mood </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testHorribleMood</td>
<td>mood </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSpendSomeMoreMoney</td>
<td>negative spendMoney </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSpendSomeMoney</td>
<td>spendMoney </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testNeutralMood</td>
<td>mood </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testExcellentMood</td>
<td>mood </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
