<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestAll</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="61f4c3">  <td>18/01/20 14:58:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.testExcellentMood()[pri:0, instance:com.epam.gomel.homework.BoyTest@44e81672]">testExcellentMood</td> 
  <td>TestNG@510529379</td>   <td></td> </tr>
<tr bgcolor="61f4c3">  <td>18/01/20 14:58:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.testExcellentMood()[pri:0, instance:com.epam.gomel.homework.BoyTest@3cd1f1c8]">testExcellentMood</td> 
  <td>TestNG@176771023</td>   <td></td> </tr>
<tr bgcolor="61f4c3">  <td>18/01/20 14:58:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.testSpendSomeMoreMoney()[pri:0, instance:com.epam.gomel.homework.BoyTest@5f5a92bb]">testSpendSomeMoreMoney</td> 
  <td>TestNG@1998689987</td>   <td></td> </tr>
<tr bgcolor="61f4c3">  <td>18/01/20 14:58:31</td>   <td>158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.testNeutralMood()[pri:0, instance:com.epam.gomel.homework.BoyTest@3cd1f1c8]">testNeutralMood</td> 
  <td>TestNG@176771023</td>   <td></td> </tr>
<tr bgcolor="61f4c3">  <td>18/01/20 14:58:31</td>   <td>158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.testGoodMood()[pri:0, instance:com.epam.gomel.homework.BoyTest@44e81672]">testGoodMood</td> 
  <td>TestNG@510529379</td>   <td></td> </tr>
<tr bgcolor="637f82">  <td>18/01/20 14:58:31</td>   <td>158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.testSpendSomeMoreMoney()[pri:0, instance:com.epam.gomel.homework.GirlTest@6fdb1f78]">testSpendSomeMoreMoney</td> 
  <td>TestNG@1998689987</td>   <td></td> </tr>
<tr bgcolor="61f4c3">  <td>18/01/20 14:58:31</td>   <td>158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.testSpendSomeMoreMoney()[pri:0, instance:com.epam.gomel.homework.BoyTest@3cd1f1c8]">testSpendSomeMoreMoney</td> 
  <td>TestNG@176771023</td>   <td></td> </tr>
<tr bgcolor="61f4c3">  <td>18/01/20 14:58:31</td>   <td>158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.testNeutralMood()[pri:0, instance:com.epam.gomel.homework.BoyTest@44e81672]">testNeutralMood</td> 
  <td>TestNG@510529379</td>   <td></td> </tr>
<tr bgcolor="637f82">  <td>18/01/20 14:58:31</td>   <td>159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.testExcellentMood()[pri:0, instance:com.epam.gomel.homework.GirlTest@60215eee]">testExcellentMood</td> 
  <td>TestNG@510529379</td>   <td></td> </tr>
<tr bgcolor="637f82">  <td>18/01/20 14:58:31</td>   <td>159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.testGoodMood()[pri:0, instance:com.epam.gomel.homework.GirlTest@60215eee]">testGoodMood</td> 
  <td>TestNG@510529379</td>   <td></td> </tr>
<tr bgcolor="637f82">  <td>18/01/20 14:58:31</td>   <td>160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.testIHateThemAlllmood()[pri:0, instance:com.epam.gomel.homework.GirlTest@60215eee]">testIHateThemAlllmood</td> 
  <td>TestNG@510529379</td>   <td></td> </tr>
<tr bgcolor="61f4c3">  <td>18/01/20 14:58:31</td>   <td>161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.testGoodMood()[pri:0, instance:com.epam.gomel.homework.BoyTest@3cd1f1c8]">testGoodMood</td> 
  <td>TestNG@176771023</td>   <td></td> </tr>
<tr bgcolor="637f82">  <td>18/01/20 14:58:31</td>   <td>161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.testNeutralmood()[pri:0, instance:com.epam.gomel.homework.GirlTest@60215eee]">testNeutralmood</td> 
  <td>TestNG@510529379</td>   <td></td> </tr>
<tr bgcolor="637f82">  <td>18/01/20 14:58:31</td>   <td>161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.testExcellentMood()[pri:0, instance:com.epam.gomel.homework.GirlTest@555590]">testExcellentMood</td> 
  <td>TestNG@176771023</td>   <td></td> </tr>
<tr bgcolor="61f4c3">  <td>18/01/20 14:58:31</td>   <td>162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.testHorribleMood()[pri:3, instance:com.epam.gomel.homework.BoyTest@44e81672]">testHorribleMood</td> 
  <td>TestNG@510529379</td>   <td></td> </tr>
<tr bgcolor="637f82">  <td>18/01/20 14:58:31</td>   <td>162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.testGoodMood()[pri:0, instance:com.epam.gomel.homework.GirlTest@555590]">testGoodMood</td> 
  <td>TestNG@176771023</td>   <td></td> </tr>
<tr bgcolor="61f4c3">  <td>18/01/20 14:58:31</td>   <td>162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.testBadMood()[pri:4, instance:com.epam.gomel.homework.BoyTest@44e81672]">testBadMood</td> 
  <td>TestNG@510529379</td>   <td></td> </tr>
<tr bgcolor="637f82">  <td>18/01/20 14:58:31</td>   <td>162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.testIHateThemAlllmood()[pri:0, instance:com.epam.gomel.homework.GirlTest@555590]">testIHateThemAlllmood</td> 
  <td>TestNG@176771023</td>   <td></td> </tr>
<tr bgcolor="637f82">  <td>18/01/20 14:58:31</td>   <td>163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.testNeutralmood()[pri:0, instance:com.epam.gomel.homework.GirlTest@555590]">testNeutralmood</td> 
  <td>TestNG@176771023</td>   <td></td> </tr>
<tr bgcolor="637f82">  <td>18/01/20 14:58:31</td>   <td>164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.testSpendSomeMoney()[pri:0, instance:com.epam.gomel.homework.GirlTest@555590]">testSpendSomeMoney</td> 
  <td>TestNG@176771023</td>   <td></td> </tr>
<tr bgcolor="637f82">  <td>18/01/20 14:58:31</td>   <td>164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.testSpendSomeMoreMoney()[pri:0, instance:com.epam.gomel.homework.GirlTest@555590]">testSpendSomeMoreMoney</td> 
  <td>TestNG@176771023</td>   <td></td> </tr>
<tr bgcolor="61f4c3">  <td>18/01/20 14:58:31</td>   <td>166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.testHorribleMood()[pri:3, instance:com.epam.gomel.homework.BoyTest@3cd1f1c8]">testHorribleMood</td> 
  <td>TestNG@176771023</td>   <td></td> </tr>
<tr bgcolor="61f4c3">  <td>18/01/20 14:58:31</td>   <td>166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.testBadMood()[pri:4, instance:com.epam.gomel.homework.BoyTest@3cd1f1c8]">testBadMood</td> 
  <td>TestNG@176771023</td>   <td></td> </tr>
<tr bgcolor="61f4c3">  <td>18/01/20 14:58:31</td>   <td>168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.testSpendSomeMoney()[pri:0, instance:com.epam.gomel.homework.BoyTest@3cd1f1c8]">testSpendSomeMoney</td> 
  <td>TestNG@176771023</td>   <td></td> </tr>
</table>
