<h2>Methods that were not run</h2><table>
<tr><td>com.epam.gomel.homework.BoyTest.testHorribleMood</td></tr>
<tr><td>com.epam.gomel.homework.BoyTest.testGoodMood</td></tr>
<tr><td>com.epam.gomel.homework.BoyTest.testExcellentMood</td></tr>
<tr><td>com.epam.gomel.homework.GirlTest.testIHateThemAlllmood</td></tr>
<tr><td>com.epam.gomel.homework.BoyTest.testBadMood</td></tr>
<tr><td>com.epam.gomel.homework.GirlTest.testGoodMood</td></tr>
<tr><td>com.epam.gomel.homework.BoyTest.testNeutralMood</td></tr>
<tr><td>com.epam.gomel.homework.BoyTest.testSpendSomeMoney</td></tr>
<tr><td>com.epam.gomel.homework.GirlTest.testExcellentMood</td></tr>
<tr><td>com.epam.gomel.homework.GirlTest.testSpendSomeMoney</td></tr>
<tr><td>com.epam.gomel.homework.GirlTest.testNeutralmood</td></tr>
<tr><td>com.epam.gomel.homework.BoyTest.testSpendSomeMoreMoney</td></tr>
<tr><td>com.epam.gomel.homework.BoyTest.testSpendSomeMoney</td></tr>
<tr><td>com.epam.gomel.homework.GirlTest.testSpendSomeMoreMoney</td></tr>
<tr><td>com.epam.gomel.homework.GirlTest.testSpendSomeMoney</td></tr>
</table>